pre 
{
    color: fuchsia;
    font-size: 20px;
}
.head
{
    display: flex;
    justify-content: center;
    font-size: 20px;
    background-color: greenyellow;
}
.text
{
    font-size: 20px;
}
button 
{
    width: 100px;
    height: 30px;
    background-color: blue;
    color: white;
    border-radius: 20px;
    font-weight: bold;
}
#change2
{
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder
}
.button
{
    background-color: red;
    font-weight: bold;
}
.center
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#heading
{
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: bolder;
}
.card
{
    width: 200px;
    height: 200px;
    background-color: darkorange;
    border: 5px solid black;
}
.flex
{
    display: flex;
}
.gift
{
    width: 200px;
    height: 200px;
    background-color: lawngreen;
    border: 5px solid red;
}
.max
{
    width: 200px;
    height: 200px;
    background-color: deeppink;
    border: 5px solid green;
}
.table
{
    font-size: 20px;
    color: black;
    background-color: aqua;
}
.clock
{
    display: flex;
    font-size: 30px;
    justify-content: center;
    background-color: deepskyblue;
}
.guess
{
    width: 200px;
    height: 50px;
    background-color: blue;
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 10px;
}